<div class="container" *ngIf="userFormGroup">
    <form [formGroup]="userFormGroup" class="mx-auto">
        <div class="form-group">
            <label>Nom</label>
            <input type="text" class="form-control" formControlName="nom"
                [ngClass]="{'is-invalid':submitted && userFormGroup.controls.name.errors}">
            <div *ngIf="submitted && userFormGroup.controls.nom.errors" class="invalid-feedback">
                <div *ngIf="userFormGroup.controls.name.errors.required">Name is required</div>
            </div>
        </div>

        <div class="form-group">
            <label>Prénom</label>
            <input type="text" class="form-control" formControlName="prenom">
        </div>

        <div class="form-group">
            <label>Date de naissance</label>
            <input type="date" class="form-control" formControlName="dob">
        </div>

        <div class="form-group">
            <label>Numéro de téléphone</label>
            <input type="number" class="form-control" formControlName="gsm">
        </div>

        <div class="form-group">
            <label>Choisir un Role</label>
            <div>
              <input id="client" type="radio" value="client" name="role" formControlName="role">
              <label for="client">Client</label>
           </div>
  
           <div>
              <input id="organisateur" type="radio" value="organisateur" name="role" formControlName="role">
              <label for="organisateur">Organisateur</label>
           </div>
        </div>

        <div class="form-group">
            <label for="email">Adresse e-mail</label>
            <input 
                type="email" 
                class="form-control"
                placeholder="example@mail.com"
                formControlName="email">
        </div>

        <div class="form-group">
            <label for="email">Mot de passe</label>
            <input 
                type="password" 
                class="form-control"
                formControlName="password">
        </div>

        <div class="form-group">
            <label for="email">Répéter votre mot de passe</label>
            <input 
                type="password" 
                class="form-control"
                formControlName="confirmpassword">
        </div>

        <button class="btn-primary btn btn-block" [disabled]="userFormGroup.invalid" (click)="onSaveUser()">Ajouter</button>
    </form>
</div>